@import 'variables';

@font-face {
  font-family: 'Times New Roman', serif;
  src: url(../fonts/timesnew.ttf);
}

* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  overflow-y: hidden;
}

html {
  font-size: 10px;
}

.uppercase {
  text-transform: uppercase;
}

// **BACKGROUND**
body {
  /* The image used */
  background-image: url("/img/main.png");
  /* Full height */
  height: 100vh;
  width: 100vw;
  //font
  font-family: 'Montserrat', sans-serif;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // box-shadow: 0 5vh 5rem black inset , 0 -5vh 5rem  black inset;
  font-size: 16px;
  color: $white;
}

body::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  background: linear-gradient(#00000050, transparent);
  height: 30vh;
  width: 100vw;
}

body::after {
  content: '';
  z-index: 1;
  position: absolute;
  bottom: 0;
  background: linear-gradient(transparent, #00000050);
  height: 30vh;
  width: 100vw;
}

.header,
.main {
  z-index: 10;
}

// **HEADER**
.header {
  position: relative;
  margin: 2.5rem 2.5rem 0rem 2.5rem;
  border-bottom: 1.5px solid #ffffff50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  &-left {
    border-right: 1.5px solid #ffffff50;
    padding-right: 2rem;

    &img {
      height: 3.5rem;
    }
  }

  &-right {
    display: flex;
    gap: 2rem;

    &__icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      padding-right: 1.75rem;
      padding-left: 1.75rem;
      border-right: 1.5px solid #ffffff50;
      border-left: 1.5px solid #ffffff50;
    }

    &__number {
      color: $white;
      padding-left: 1.75rem;
      text-decoration: none;

    }
  }
}

// MAIN CONTENT
.main-places-btn,
.download-btn {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background: url('../img/btn_background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  padding: .25rem;
  position: absolute;
  z-index: 10;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;

  &-places-btn {

    &__heading {
      text-align: center;
      font-family: Montserrat;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $black;
      background-color: $white;
      padding: .1rem;
      margin-right: .4rem;
      margin-left: .1rem;
    }

    &__name {
      text-align: center;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: .1rem 1rem;
    }
  }
}

// MAIN PLACES
#apartments {
  top: 8vh;
  right: 41vw;
}

#mansions {
  top: 48vh;
  left: 10vw;
}

#park {
  top: 44vh;
  left: 34vw;
}

#road {
  bottom: 35vh;
  right: 30vw;
}

// 360 viewer
.viewer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.60);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  .viewers {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    .viewer-close-btn {
      font-size: 5rem;
      font-weight: 100;
      font-family: serif;
      transform: rotate(45deg);
      cursor: pointer;
      position: relative;
      // align-self: flex-end;
    }

    .viewer {
      width: 80vw;
      height: 80vh;
      display: none;
    }
  }
}

// DOWNLOAD BTN
.download-btn {
  &__text {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
  }
}

#download {
  bottom: 10vh;
  left: 10vh;
  padding: 1rem 2rem;
}

// BROCHURE
.brochure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  opacity: .95;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100%;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 55vw;
    height: 55vh;

    .brochure-content {
      display: grid;
      grid-template-columns: 50% 50%;
      height: 100%;

      .brochure-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(../img/brochure.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &__heading {
          text-align: center;
          font-family: 'Times New Roman';
          font-size: 4rem;
          font-style: italic;
          font-weight: 200;
          line-height: 100%;
          /* 2.8125rem */
          text-transform: capitalize;
          padding-bottom: 2rem;
        }

        &__paragraph {
          text-align: center;
          font-family: Montserrat;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          padding: 0 2rem;
          padding-bottom: 2rem;
        }

        &__messengers {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 2rem;
          align-items: center;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 1rem;
            color: $white;
            text-decoration: none;

            img {}

            p {
              font-size: 1.5rem;
              font-weight: 300;
            }
          }
        }

      }

      .brochure-form {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          width: 100%;
          gap: 2rem;

          input {
            background-color: $black;
            border: none;
            color: $white;
            outline: none;
            width: 85%;
            height: 4rem;
            border-bottom: 1px solid #ffffff50;
            padding-left: 1rem;
            margin-left: 1rem;
          }

          input::-webkit-input-placeholder {
            font-family: Montserrat;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $white;
          }

          input::-moz-placeholder {
            font-family: Montserrat;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $white;
          }

          input:-ms-input-placeholder {
            font-family: Montserrat;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $white;
          }

          input::-ms-input-placeholder {
            font-family: Montserrat;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $white;
          }

          input::placeholder {
            font-family: Montserrat;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $white;
          }

          input[type=submit] {
            border: none;
            background-color: $white;
            color: $black;
            font-family: Montserrat;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 1.6875rem */
            text-transform: uppercase;
            cursor: pointer;
          }
        }
      }

    }

    .brochure-close-btn {
      font-size: 5rem;
      font-weight: 100;
      font-family: serif;
      transform: rotate(45deg);
      cursor: pointer;
      position: relative;
      margin-top: -3rem;
    }
  }
}

.absolute-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  display: none ;
}